
.Sections{
    background-color: rgb(245, 240, 230);
    display: inline-block;
    font-size: 28px;
}

#Section2{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color:white;
    display: inline-block;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 28px;
    scroll-margin-top: 60px;
}

li {
    float:left
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
}

li a:hover{
    background-color: #182b49;
    color: white;
}

.grid{
    display: grid;
    grid-gap: 25px;
    grid-column: auto;
    grid-template-columns: repeat(4, 1fr);
    max-height: 500px;
    overflow: scroll;
    
}

.grid-ind{
    background-color: #182b49;
    color: white;
}